{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {# Include Bootstrap CSS #}
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    {# Include your custom CSS #}
    <link href="assets/css/stylelogin.css" rel="stylesheet">
{% endblock %}

{% block body %}
<section class="form-01-main">
    <div class="form-cover">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-sub-main">
                        <div class="_main_head_as">
                            <a href="#">
                                <img src="assets/images/vector.png">
                            </a>
                        </div>
                        {% for flash_error in app.flashes('reset_password_error') %}
                            <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                        {% endfor %}
                        <h1 class="h3 mb-3 font-weight-normal">Reset your password</h1>

                        {{ form_start(requestForm) }}
                            {{ form_row(requestForm.email, {'attr': {'class': 'form-control _ge_de_ol', 'placeholder': 'Enter Email', 'autocomplete': 'email', 'autofocus': true}}) }}
                            <div class="form-group">
                                <small>Enter your email address, and we will send you a link to reset your password.</small>
                            </div>
                            <button class="btn btn-lg btn-primary" type="submit">Send password reset email</button>
                        {{ form_end(requestForm) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
